<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-body">
                    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                        <div class="mb-4">
                            <label for="userName" class="form-label"> Username </label>

                            <input type="text" class="form-control form-control-lg" formControlName="userName"
                                placeholder="Enter username" />

                            <strong class="text-danger small mt-2"
                                *ngIf="userName.hasError('required') && userName.touched">
                                Username is required
                            </strong>
                            <ng-container>
                                <strong class="text-danger small mt-2"
                                    *ngIf="userName.hasError('minlength') && userName.dirty">
                                    Minimum
                                    {{ userName.errors?.["minlength"].requiredLength }}
                                    characters required
                                </strong>

                                <strong class="text-danger small mt-2" *ngIf="userName.hasError('pattern')">
                                    UserName should includes letters only (numbers and spec
                                    characters are not allowed!!!)
                                </strong>
                                <strong class="text-danger small mt-2" *ngIf="userName.hasError('noSpaceVal')">
                                    Username must not contain spaces
                                </strong>
                            </ng-container>
                        </div>

                        <div class="mb-4 form-group">
                            <label for="email" class="form-label"> Email </label>

                            <input type="email" class="form-control form-control-lg" formControlName="email"
                                placeholder="Enter email" />

                            <div class="text-danger small mt-2" *ngIf="email.hasError('required') && email.touched">
                                Email is required
                            </div>

                            <div class="text-danger small mt-2" *ngIf="email.hasError('email') && email.dirty">
                                Please enter a valid email
                            </div>
                        </div>

                        <div class="d-grid">
                            <button type="submit" mat-raised-button color="primary" [disabled]="signUpForm.invalid">
                                Sign Up
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>